body,
html,
#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  image-rendering: crisp-edges;
}

.home-element {
  position: fixed;
  word-break: break-all;

  * {
    word-break: break-all;
  }
}

.header-container {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
}

.credits {
  * {
    margin: 0;
  }
}